Repository CodeOfDutyJS/documentazione, pull requests merged in 2021-01, with the labels that each got.

#34 Piola/norme di progetto
  _config/package.tex
  norme-di-progetto/source/changelog.tex
  norme-di-progetto/source/sections/processi_organ.tex
  norme-di-progetto/source/sections/processi_supporto.teex
Labels: norme di progetto

#35 Falsetti/qualita di processo
  piano-di-qualifica/main.tex
  piano-di-qualifica/source/sections/introduzione.tex
  piano-di-qualifica/source/sections/qualita_di_processo.tex
  piano-di-qualifica/source/sections/qualita_di_prodotto.tex
  piano-di-qualifica/source/sections/resoconti_verifica.tex
  piano-di-qualifica/source/sections/specifiche_dei_test.tex
Labels: piano di qualifica

#40 Aggiornate e aggiunte action
  .github/workflows/build-revisione.yml
  .github/workflows/compile-analisi-requisiti.yml
  .github/workflows/compile-norme-di-progetto.yml
  .github/workflows/compile-piano-progetto.yml
  .github/workflows/compile-piano-qualifica.yml
  .github/workflows/compile-studio-fattibilita.yml
  .github/workflows/compute-gulpease.yml
  README.md
Labels: enhancement

#45 Flori/pd p preventivo
  _config/package.tex
  piano-di-progetto/main.tex
  piano-di-progetto/source/img/analisi_orari.png
  piano-di-progetto/source/img/analisi_ruoli.png
  piano-di-progetto/source/img/architettura_orari.png
  piano-di-progetto/source/img/architettura_ruoli.png
  piano-di-progetto/source/img/codifica_orari.png
  piano-di-progetto/source/img/codifica_ruoli.png
  piano-di-progetto/source/img/consolidamento_orari.png
  piano-di-progetto/source/img/consolidamento_ruoli.png
  piano-di-progetto/source/img/no_investimento_orari.png
  piano-di-progetto/source/img/no_investimento_ruoli.png
  piano-di-progetto/source/img/totale_orari.png
  piano-di-progetto/source/img/totale_ruoli.png
  piano-di-progetto/source/img/validazione_orari.png
  piano-di-progetto/source/img/validazione_ruoli.png
  piano-di-progetto/source/sections/preventivo.tex
  piano-di-progetto/source/sections/sample.tex
  piano-di-progetto/source/tables/prospetto_economico.tex
  piano-di-progetto/source/tables/prospetto_orario.tex
Labels: piano di progetto

#52 Flori/verifica fattibilita
  _config/config.tex
  studio-di-fattibilita/source/changelog.tex
  studio-di-fattibilita/source/sections/capitolato-1.tex
  studio-di-fattibilita/source/sections/capitolato-2.tex
  studio-di-fattibilita/source/sections/capitolato-3.tex
  studio-di-fattibilita/source/sections/capitolato-4.tex
  studio-di-fattibilita/source/sections/capitolato-5.tex
  studio-di-fattibilita/source/sections/capitolato-6.tex
  studio-di-fattibilita/source/sections/capitolato-7.tex
  studio-di-fattibilita/source/title_page.tex
Labels: studio di fattibilità

#55 Verifica norme di progetto
  norme-di-progetto/source/changelog.tex
  norme-di-progetto/source/sections/intro.tex
  norme-di-progetto/source/sections/processi_organ.tex
  norme-di-progetto/source/sections/processi_primari.tex
  norme-di-progetto/source/sections/processi_supporto.tex
Labels: norme di progetto

#59 Signori/piano di progetto
  piano-di-progetto/main.tex
  piano-di-progetto/source/changelog.tex
  piano-di-progetto/source/img/Consolidamento_Requisiti.png
  piano-di-progetto/source/img/Progettazione_architetturale.png
  piano-di-progetto/source/img/Progettazionedettaglio_codifica.png
  piano-di-progetto/source/img/Validazione_collaudo.png
  piano-di-progetto/source/img/analisiattivita.jpg
  piano-di-progetto/source/img/analisiattivita.png
  piano-di-progetto/source/img/modelloincrementale.png
  piano-di-progetto/source/sections/AnalisiDeiRischi.tex
  piano-di-progetto/source/sections/Introduzione.tex
  piano-di-progetto/source/sections/Modellodisviluppo.tex
  piano-di-progetto/source/sections/Pianificazione.tex
  piano-di-progetto/source/tables/tabella_incrementi.tex
  piano-di-progetto/source/tables/tabella_rischi.tex
Labels: piano di progetto

#57 Aggiunto organigramma a PdP
  _template/images/firma_breggion.png
  _template/images/firma_falsetti.png
  _template/images/firma_flori.png
  _template/images/firma_mascari.png
  _template/images/firma_piola.png
  _template/images/firma_signori.png
  _template/images/firma_zanardo.png
  piano-di-progetto/main.tex
  piano-di-progetto/source/sections/organigramma.tex
  piano-di-progetto/source/tables/organigramma_table.tex
  piano-di-progetto/source/title_page.tex
Labels: piano di progetto
